

//normalize
@import "normalize";

// Global Foundation Settings
@import "foundation/settings";

//sassy_s
@import "sassy_s/sassy_s";

//foundation
@import "foundation";

.row { max-width: 98%; }

h1.site-title a, h1.site-title a:visited { color: $tabbar-header-color;}

.left-off-canvas-menu ul, .right-off-canvas-menu ul {
  padding-top: 24px;
  list-style: none;
  a { color: $secondary-color;}

}

#comments {
  padding-top: 48px;
}

h1.widget-title {
  font-size: 2rem;
}

.offcanvas-widget-area {
  padding: 24px 16px;
}
